<div id="add-students-wrapper">
  <h1>Add students</h1>
  <p>Without students, there's no classroom. So let's add them!.</p>
  <p>
    Do you have a class list?
    <span style="color: orange">Upload class list instead</span>
  </p>
  <form>
    <div>
      <label>Student's first and last name</label><br />
      <input
        formControlName="teacherName"
        placeholder="Mr. Guilliame"
      /><br /><br />
    </div>
    <div>
      <label>Student or parent's email</label><br />
      <input
        formControlName="className"
        placeholder="Example: Class 18"
      /><br /><br />
    </div>
    <button  class="nav-btn button-shadow">
        ADD
    </button>
  </form>
</div>
