<div class="signup-panel">
  <div class="top">
    <img class="owl" src="assets/photos/owl.png" alt="owl" />

    <span class="manrope-bold-white-40px">Success!</span>
    <p></p>
  </div>
  <div class="form-panel">
    <div class="content">
      <p class="conf-sent">
        Email confirmation sent! We have sent email to example@gmail.com to
        confirm the validity of your email adress. Check your email and tap the
        link we sent you.
      </p>
    </div>
    <div class="owl-cels">
      <img class="cel-left" src="assets/photos/cel-left.png" alt="cel-left" />
      <img [routerLink]="['/home']" class="wikimini" src="assets/photos/owl-success.png" alt="wikimini" />
      <img class="cel-right" src="assets/photos/cel-right.png" alt="cel-right" />
    </div>
  </div>
</div>
