<div id="wrapper">
    <h1>Create your classroom</h1>
    <p>Let's create your classroom so you can start collaborating with your students.</p>
    <form>
        <label>How would you like your students to call you?</label><br />
        <input
          formControlName="teacherName"
          placeholder="Mr. Guilliame"
        /><br /><br />
        <div>
          <label>What will be the name of your classroom?</label><br />
        <input
          formControlName="className"
          placeholder="Example: Class 18"
        /><br /><br />
        </div>
      </form>
</div>