<div class="signup-panel">
  <div class="top">
    <p>OWL</p>

    <span class="manrope-bold-white-40px">Create an account</span>

    <p></p>
  </div>
  <div class="form-panel">
    <div>
      <p>Wikimini</p>
      <p>
        Your online classroom to teach medialiteracy, language and any topic to
        your heart's desire.
      </p>
    </div>
    <div>
      <!-- [formGroup]="userForm" -->
      <form>
        <label>User name</label><br />
        <input formControlName="username" placeholder="User name" /><br /><br />
        <div
          *ngIf="
            this.signupShared.signupStatus !=
            signupShared.SignupStatusEnum.SIGNUP_FORM_STUDENT
          "
        >
          <label>Email</label><br />
          <input formControlName="email" placeholder="Email" /><br /><br />
        </div>
        <label>Password</label><br />
        <input formControlName="password" placeholder="Password" /><br /><br />
        <label>Password Confirmation</label><br />
        <input
          formControlName="passwordConfirm"
          placeholder="Password Confirmation"
        /><br /><br />
      </form>
    </div>
  </div>
</div>
