<div class="signup-panel">
  <div class="top">
    <img class="owl" src="assets/photos/owl.png" alt="owl" />

    <span class="manrope-bold-white-40px">Email Confirmation Sent</span>
    <p></p>
  </div>
  <div class="form-panel">
    <div class="content">
      <p class="conf-sent">
        Email confirmation sent! We have sent email to example@gmail.com to
        confirm the validity of your email adress. Check your email and tap the
        link we sent you.
      </p>
      <img (click)="signupShared.getNextStatus()" class="wikimini" src="assets/photos/owl-invite.png" alt="wikimini" />
      <p routerLink="emailConfirmed">
        Dind't get a confirmation email? Check your spam folder or
        <span class="send-again"> SEND AGAIN </span>
      </p>
    </div>
  </div>
</div>
