<div id="welcome-wrapper">
  <h1 class="manrope-bold-white-40px">Welcome at Wikimini!</h1>

  <div id="search">
    <input class="search-inp" type="text" placeholder="What do you want to lean today?">
    <button class="button-shadow search-btn">Search</button>
  </div>

  <div id="categories">
    <div class="row1">
      <div class="categs">

        <img class="categs-pics" src="assets/photos/beliefs.png" alt="beliefs" />
      <div class="categs-name">Beliefs & Religion</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/languages.png" alt="languages" />
      <div class="categs-name">Languages</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/theater.png" alt="theater" />
      <div class="categs-name">Literature & Theater</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/science.png" alt="science" />
      <div class="categs-name">Science & Math</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/hobbies.png" alt="hobbies" />
      <div class="categs-name">Arts, Hobbies & Sports</div>
      </div>
      
    </div>
    <div class="row2">
      <div class="categs">

        <img class="categs-pics" src="assets/photos/geo.png" alt="geo" />
        <div class="categs-name">History & Geography</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/life.png" alt="life" />
        <div class="categs-name">Life in Society</div>
      </div>
      <div class="categs">

        <img class="categs-pics" src="assets/photos/tech.png" alt="tech" />
        <div class="categs-name">Technology & Health</div>
      </div>

    </div>
  </div>
</div>
<div id="welcome-picks">

</div>
<div id="welcome-test">

</div>
<div id="footer">
    <p>Wikimini, the children's encyclopedia written by children</p>
</div>

