#welcome-wrapper{
    height: 50vh;
    background-color: #FCB112;
    background-image:  url(../../../../../assets/photos/background.png);
    background-repeat: repeat;
}

#welcome-picks{
    height: 100vh;
    background-color: #FCB112;
}

#welcome-test{
    height: 100vh;
    background-color: #24a79d;
}

#footer{
    height: 20vh;
}