.rectangle{

box-sizing: border-box;
position: absolute;
width: 1076px;
height: 591px;
left: 182px;
top: 254px;

/* Black Colors/White */

background: #FFFFFF;
/* Black Colors/Black 1 */

border: 2px solid #000000;
border-radius: 20px;

}
