<div id="wrapper">
  <div id="header">
    <h1 class="join">Join your classroom</h1>
    <h3 class="enter">Enter your personal code, that you received from your teacher</h3>
  </div>
  <div class="codeBox">
    <input class="inp-code" type="text" max-length="1" />

    <input class="inp-code" type="text" max-length="1" />

    <input class="inp-code" type="text" max-length="1" />

    <input class="inp-code" type="text" max-length="1" />

    <input class="inp-code" type="text" max-length="1" />
  </div>
</div>

<div id="help">
  <img class="owl" src="assets/photos/owl.png" alt="owl"/>
  <p class="perscode">what is a personal code?</p>
</div>
