





<div class="codeBox">
    
        <input type="text"  max-length="1">
    
        <input type="text"  max-length="1">
        
        <input type="text"  max-length="1">
       
        <input type="text" max-length="1">
     
        <input type="text" max-length="1">
     
 
</div>


<p>I don't have a personal code</p>
<div class="buttonWraper"><button (click)="signupShared.setSignupStatus(signupShared.SignupStatusEnum.SIGNUP_FORM_STUDENT)">Next  

    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.20831 13H19.7916" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.5 5.70837L19.7917 13L12.5 20.2917" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>


</button>
    

</div>