:is(codebox){

    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;

}
:is(input){

    
    background-color: white;
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 
    #00000040;
    height: 176px;
    width: 176px;
    font-size: 100px; 
    text-align: center;
    margin: 23px; 
    ;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}