<div><button (click)="signupShared.getPreviousStatus()"><</button></div>
<div><button>x</button></div>
<div><p>Create an Account</p></div>
<div>
  <app-signup-choice *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_CHOICE"></app-signup-choice>
  <app-signup-code *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_CODE_STUDENT"></app-signup-code>
  <app-signup-form *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_FORM_STUDENT || signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_FORM_TEACHER"></app-signup-form>
  <app-signup-email-confirmation *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_EMAIL_CONFIRMATION"></app-signup-email-confirmation>
  <app-signup-success *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_SUCCESS_STUDENT || signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_SUCCESS_TEACHER"></app-signup-success>
</div>

<p>Already have an account?</p> <button>LOG IN</button>