

<div class="main-content" >

<div class=" nav-buttons" >

  

  <button class="flex-row-item"(click)="signupShared.getPreviousStatus()">
    <img class="flex-row-item "src="../../../../../assets/wrapper assets/chevron-left-1@2x.png" alt="chevron-left" /> 
  </button>

  <button class="flex-row-item "> 
    <img class="flex-row-item" src="../.../../../../../../assets/wrapper assets/x.png" alt="x" /> 
  </button>

</div>


  <app-signup-choice *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_CHOICE"></app-signup-choice>
  <app-signup-code *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_CODE_STUDENT"></app-signup-code>
  <app-signup-form *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_FORM_STUDENT || signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_FORM_TEACHER"></app-signup-form>
  <app-signup-email-confirmation *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_EMAIL_CONFIRMATION"></app-signup-email-confirmation>
  <app-signup-success *ngIf="signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_SUCCESS_STUDENT || signupShared.signupStatus === signupShared.SignupStatusEnum.SIGNUP_SUCCESS_TEACHER"></app-signup-success>

</div>
<div class=" haveAccountLoginButton">
  
    <p class="Mplus1-bold-white-15px ">Already have an account?</p> 
    <button class="logInButton" > <span class="logInText"> Log In </span> </button>
  
</div>