.main-content {
  height: 100vh;
  background-color: #24a79d;
}

.flex-row-item {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-color: transparent;
  background-size: contain;
  align-content: center;
}

.nav-buttons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.Mplus1-bold-white-15px {
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 700;
  padding-top: 20px;
  z-index: 1;
  font-family: 'M PLUS 1';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
/* identical to box height, or 136% */

letter-spacing: 0.02em;

/* Black Colors/White */

color: #FFFFFF;
}

.logInButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "M PLUS 1", sans-serif;
  color: #fcb112;
  font-size: 15px;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 21px;
  line-height: 0px;
}

.logInText {
  text-align: end;
  text-justify: bottom;
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5em;
}
