<div id="creation-wrapper">
    <div id="content">
        <app-classroom-creation-naming *ngIf="ccShared.ClassroomCreationStatus == ccShared.ClassroomCreationStatusEnum.CLASSROOM_CREATION_NAMING"></app-classroom-creation-naming>
    </div>

    <div id="footer">
        <a>Back</a>
        <div>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <button  class="nav-btn button-shadow">
            Next
        </button>
    </div>
</div>
